{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>View Asset <small>{{ asset.pcName}}</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Property</th>
                                    <th>Value</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>PC Name</td>
                                    <td>{{ asset.pcName }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}